@import url("./header.css");

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grey);
}

#areas-title {
    padding: 20px;
    background-color: var(--main);
    color: var(--white);
    border-radius: 10%;
}

#areas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

#areas article.each-area {
    width: 44vw;
    height: 44vw;
    margin: 15px 0;
    background-color: crimson;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 3px var(--main);
}

#areas article.each-area img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
}

#areas article.each-area h3 {
    z-index: 2;
    font-size: 1.5em;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.5);
}

#areas article.each-area span {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.5;
    border-radius: 5px;
}

#areas article.each-area:hover span {
    opacity: 0.5;
    box-shadow: 3px 3px 5px var(--main);
}

#areas article.each-area:hover h3 {
    color: snow;
    text-shadow: 2px 2px 1px black;
}

input[type="radio"] {
    display: none;
}

#areas-cont label[for="none"] {
    opacity: 0;
}
#areas-cont label[for="extend"] {
    position: absolute;
    bottom: 10%;
    font-size: 1.3rem;
    padding: 8px;
    width: 100%;
    text-align: center;
    color: rgb(200, 200, 200);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 85%);
}

input[type="radio"]#extend:checked ~ #areas-cont{
    min-height: 50vh;
    height: unset
}

input[type="radio"]#extend:checked ~ #areas-cont label[for="extend"]{
    opacity: 0
}

input[type="radio"]#extend:checked ~ #areas-cont label[for="none"] {
    opacity: 1;
}

.cont {
    height: 70vh;
    overflow-y: hidden;
    padding: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-cont {
    background-color: var(--main);
    color: var(--white);
    padding: 35px;
    justify-content: space-around;
    height: auto;
    position: relative;
}

#about-link {
    position: absolute;
    top: -150px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about p {
    width: 75%;
    margin: 20px;
    font-size: 1.2em;
    text-align: center;
}

#contact-cont {
    height: auto;
    position: relative;
    padding: 35px;
}

#contact-link {
    position: absolute;
    top: -150px;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact div, #contact form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: space-around;
}

#contact div span {
    display: flex;
    align-items: center;
    margin: 15px;
}

#contact div span p {
    margin: 10px;
    font-size: 1.2em;
}

#contact div span i {
    margin: 4px;
    font-size: 2.1em;
}

#contact form label {
    margin: 10px 0 5px 5px;
}

textarea { 
    resize: none; 
}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: var(--main);
    color: var(--white);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer nav a {
    padding: 20px;
    margin: 0 20px;
}

@media screen and (min-width:768px){
    #areas-cont{
        height: 55vh;
    }

    #areas article.each-area {
        height: 23vw;
        width: 23vw;
    }

    #areas-cont label[for="extend"] {
        bottom: 22%;
    }
}

@media screen and (min-width:1280px){
    #areas-cont{
        min-height: 50vh;
        height: unset;
    }

    #areas article.each-area {
        height: 15vw;
        width: 23vw;
        box-shadow: none;
    }

    #areas article.each-area span {
        opacity: 0;
        transition: all 0.5s;
    }

    #areas-cont label {
        display: none;
    }
}